html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  font-family: Muli, sans-serif;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
